<?xml version="1.0"?>
<launch>
	<arg name="world_idx"  default="0"/>
    <!--  ************** Reference trajectory generation **************  -->
    <node name="desired_path_node" pkg="waypoints_global_planner" type="publish_path.py" output="screen">
        <param name="world_idx" value="$(arg world_idx)" />
    </node>
</launch>